<a href="https://colab.research.google.com/github/minxiu870413/hw1M10921019/blob/master/%E5%97%A8.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
from google.colab import files
uploaded = files.upload()

Saving adult.train.txt to adult.train.txt

In [ ]:
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.ensemble import RandomForestClassifier
from sklearn import metrics
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.model_selection import GridSearchCV

In [ ]:
datasets = pd.read_csv(r"adult.train.txt")

In [ ]:
print('資料屬性為：',datasets.dtypes)

資料屬性為： 39                 int64
 State-gov        object
 77516             int64
 Bachelors        object
 13                int64
 Never-married    object
 Adm-clerical     object
 Not-in-family    object
 White            object
 Male             object
 2174              int64
 0                 int64
 40                int64
 United-States    object
 <=50K            object
dtype: object

In [ ]:
import csv
with open(r"C:\Users\ASUS\Desktop\資料探勘\資料探勘第二次作業\adult.train.csv", 'w+', newline='') as csvfile:
    spamriter = csv.writer(csvfile, dialect='excel')
    with open(r"adult.train.txt", 'r',encoding='utf-8') as filein:
        for line in filein:
            line_list = line.strip('\n').split(',') 
            spamriter.writerow(line_list)

In [ ]:
datasets.columns=['age',
              'workclass',
              'fnlwgt',
              'education',
              'education_num',
              'marital_status',
              'occupation',
              'relationship',
              'race',
              'sex',
              'capital_gain',
              'capital_loss',
              'hours_per_week',
              'native_country',
              'salary']

In [ ]:
from sklearn.preprocessing import LabelEncoder
label=LabelEncoder()
for col in datasets.columns:
    datasets[col]=label.fit_transform(datasets[col])

In [ ]:
datasets.drop_duplicates()

       age  workclass  fnlwgt  ...  hours_per_week  native_country  salary
0       33          6    2925  ...              12              39       0
1       21          4   14085  ...              39              39       0
2       36          4   15335  ...              39              39       0
3       11          4   19354  ...              39               5       0
4       20          4   17699  ...              39              39       0
...    ...        ...     ...  ...             ...             ...     ...
32555   10          4   16527  ...              37              39       0
32556   23          4    8079  ...              39              39       1
32557   41          4    7882  ...              39              39       0
32558    5          4   12880  ...              19              39       0
32559   35          5   17824  ...              39              39       1

[32536 rows x 15 columns]

In [ ]:
(datasets.astype(str) == ' ?').any(1)
datasets = datasets[~(datasets.astype(str) == ' ?').any(1)]

In [ ]:
lack = datasets.isnull()

In [ ]:
y_train=datasets['hours_per_week']
x_train=datasets.drop('hours_per_week',axis=1)

In [ ]:
from sklearn import model_selection
rfc = RandomForestClassifier()
rfc.fit(x_train,y_train)

RandomForestClassifier(bootstrap=True, ccp_alpha=0.0, class_weight=None,
                       criterion='gini', max_depth=None, max_features='auto',
                       max_leaf_nodes=None, max_samples=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, n_estimators=100,
                       n_jobs=None, oob_score=False, random_state=None,
                       verbose=0, warm_start=False)

In [ ]:
from google.colab import files
uploaded = files.upload()

Saving adult.test.txt to adult.test (1).txt

In [ ]:
data = pd.read_csv(r"adult.test.txt")

In [ ]:
import csv
with open(r"C:\Users\ASUS\Desktop\資料探勘\資料探勘第二次作業\adult.test.csv", 'w+', newline='') as csvfile:
    spamriter = csv.writer(csvfile, dialect='excel')
    with open(r"adult.test.txt", 'r',encoding='utf-8') as filein:
        for line in filein:
            line_list = line.strip('\n').split(',') 
            spamriter.writerow(line_list)

In [ ]:
data.columns=['age',
              'workclass',
              'fnlwgt',
              'education',
              'education_num',
              'marital_status',
              'occupation',
              'relationship',
              'race',
              'sex',
              'capital_gain',
              'capital_loss',
              'hours_per_week',
              'native_country',
              'salary']

In [ ]:
labelencoder = LabelEncoder()
data['workclass'] = labelencoder.fit_transform(data['workclass'])
data['education'] = labelencoder.fit_transform(data['education'])
data['marital_status'] = labelencoder.fit_transform(data['marital_status'])
data['occupation'] = labelencoder.fit_transform(data['occupation'])
data['relationship'] = labelencoder.fit_transform(data['relationship'])
data['race'] = labelencoder.fit_transform(data['race'])
data['sex'] = labelencoder.fit_transform(data['sex'])
data['native_country'] = labelencoder.fit_transform(data['native_country'])
data['salary'] = labelencoder.fit_transform(data['salary'])

In [ ]:
(datasets.astype(str) == ' ?').any(1)
datasets = datasets[~(datasets.astype(str) == ' ?').any(1)]

In [ ]:
lack = datasets.isnull()

In [ ]:
data.drop_duplicates()

       age  workclass  fnlwgt  ...  hours_per_week  native_country  salary
0       38          4   89814  ...              50              38       0
1       28          2  336951  ...              40              38       1
2       44          4  160323  ...              40              38       1
3       18          0  103497  ...              30              38       0
4       34          4  198693  ...              30              38       0
...    ...        ...     ...  ...             ...             ...     ...
16275   39          4  215419  ...              36              38       0
16276   64          0  321403  ...              40              38       0
16277   38          4  374983  ...              50              38       0
16278   44          4   83891  ...              40              38       0
16279   35          5  182148  ...              60              38       1

[16275 rows x 15 columns]

In [ ]:
y=data['hours_per_week']
x=data.drop('hours_per_week',axis=1)

In [ ]:
rfc=RandomForestClassifier(n_estimators=100,n_jobs = -1, min_samples_leaf = 10)

In [ ]:
rfc.fit(x,y)

RandomForestClassifier(bootstrap=True, ccp_alpha=0.0, class_weight=None,
                       criterion='gini', max_depth=None, max_features='auto',
                       max_leaf_nodes=None, max_samples=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=10, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, n_estimators=100,
                       n_jobs=-1, oob_score=False, random_state=None, verbose=0,
                       warm_start=False)

In [ ]:
from sklearn.metrics import mean_squared_error
from sklearn.metrics import median_absolute_error
from sklearn.metrics import mean_squared_log_error
from sklearn.metrics import mean_absolute_error

In [ ]:
y_pred = rfc.predict(x)

In [ ]:
print('RMSE：',np.sqrt(metrics.mean_squared_error(y,y_pred)))

RMSE： 11.975250891176932

In [ ]:
def mape(y_test, y_predict):
    return np.mean(np.abs((y_test - y_pred) / (y_test+1))) * 100
print('MAPE:',mape(y, y_pred))

MAPE: 28.617792729592612

In [ ]:
print('資料屬性為：',data.dtypes)

資料屬性為： age               int64
workclass         int64
fnlwgt            int64
education         int64
education_num     int64
marital_status    int64
occupation        int64
relationship      int64
race              int64
sex               int64
capital_gain      int64
capital_loss      int64
hours_per_week    int64
native_country    int64
salary            int64
dtype: object